/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:728px;
$height:90px;

$tan: Beige;
$white: white;

$pb-red: #e12726;
$pb-blue: #0645a2;

$mm-blue: #004fa3;
$mm-red: #ef3e33;

$red: $pb-red;
$blue: $pb-blue;

$button-bg: $red;

$pb-ratio: 0.3132587859;
$mm-ratio: 0.4743589744;

$logo-ratio: $pb-ratio;

$font: 'Teko', Verdana, Geneva, sans-serif;
$altfont: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;

$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);

@mixin layerWidth() {
    padding:2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

@mixin fontStyle($size: 14px) {
    font-family: $font;
    font-style: bold;
    font-weight: 400;
    color: $red;
    font-size: #{$size};
    text-transform: uppercase;
}

@mixin buttonStyle() {
    font: $altfont;
    font-size: 12px;
    line-height:0.9;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

@mixin bigFont() {
    font-size: 118px;
    line-height: 0.9;
}

/* large blocks
----------------------------------------------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:center;
    margin: 0px;
    @include fontStyle();
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    background-color: $tan;
    background-image:url('../images/background.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;
}

.layer {

    position:absolute;
    left:0;
    @include layerWidth();
    transition:opacity 500ms ease;

    perspective:100px;
    perspective-origin: center;

    display:flex;
}

.top {
    position:relative;
    height:100%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom {

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    width: 118px;
    height: 100%;

    perspective: 1000px;
    perspective-origin: center;

    > .button {
        transform-origin: center;
        transform: scale(1);
        transition: transform 200ms ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

    }

    .ky-logo {
        width:110px;
        height:auto;
    }

    .gamblers {
        position: relative;
        -ms-flex-item-align: center;
        top: 8px;
        max-width: 72px;
        height: auto;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        word-break: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        line-height: 1.1;
    }

    // img {
    //     height:90%;
    //     &.gamblers {
    //         height: 60%;
    //     }
    // }

}

.hero {
    display:flex;
    height:100%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 136px;

}

.subtitle {
    font-size:18px;
    width:180px;
    text-align:left;
    align-self:center;
    padding-left:10px;
}

.drawings {
    font-size: 12px;
    font-family: $altfont;
    text-transform: none;
    font-weight:900;
    font-style:bold;
    &.small {
        font-size:10px;
    }
}

.header {
    @include bigFont();
    > img {
        width: 80%;
    }
}

.logo {
    width: 120px;
    height: calc( 120px * #{$logo-ratio} );
    transform:translateX(-8px);
    &.powerball {
        width: 135px;
        height: calc( 135px * #{$logo-ratio} );
        transform:translateX(0);
    }
}

.button {
    padding: 4px 16px;
    background:$button-bg;
    border: 1px solid $white;
    border-radius: 4px;
    color: $white;
    @include buttonStyle();
    &.small {
        position: absolute;
        bottom: 6px;
        padding: 6px 4px;
        font-size:10px;
        font-style: normal;
    }
}

.content {

    position: relative;
    display: flex;

    flex-display: columns;
    justify-content: flex-start;
    align-items: flex-start;

    width: 425px;

    > div {
        transition: opacity 1s ease;
    }

    .header {
        opacity:1;
    }

    .total {
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-53%);
        width:100%;
        height:100%;
        opacity:0;

        display:flex;
        align-items:center;
        justify-content:center;

    }

    &.switched {

        .header, .subtitle {
            opacity:0;
        }

        .total {
            opacity:1;
        }

    }

}

.number {
    position: relative;
    display: block;
    @include bigFont();
    height: 86px;
    padding-left:70px;
    &:before {
        content: '';
        width: 40px;
        height: 40px;
        background-image: url('../images/dollar.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        display: inline-block;
        position: relative;
        bottom: 40px;
        left:10px;
    }
    &:after {
        content: '';
        position:relative;
        display:inline-block;
        top:-50%;
        right:0;
        width:116px;
        height:30px;
        background-image: url('../images/million.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        transform:translateY(50%);
    }
}

.number-total {
}

.dollar {
    font-size:24px;
}


.animals {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > div {

        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height:100%;
        justify-content: space-between;
        align-items: flex-end;
        transition: opacity 1s ease;

        &.elephant {
            width: calc( 100% - 130px );
            padding-left: 130px;
            justify-content: space-between;
        }

        &.giraffe {
            width: calc(100% - 70px);
            padding-left: 20px;
            padding-right: 50px;
            opacity: 0;
        }

    }

    &.switched {
        > div.elephant {
            opacity: 0;
        }
        > div.giraffe {
            opacity: 1;
        }
    }

    img {
        // height:75px;
    }

}
