/* variables
======================================================================================================================*/
$font: "Avant Garde", "Avant Garde Gothic", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, Verdana, Arial, sans-serif;
$dur: 150ms;

$collapsed-width: 728px;
$collapsed-height: 90px;

$expanded-width: 728px;
$expanded-height: 360px;

$border-color: rgb(145, 153, 153);

$logo: url('../images/logo.jpg');
$header-tile: url('../images/header.jpg');
$header-tile-alt: url('../images/header-alt.jpg');

$padding: 10px;

$white: white;
$black: black;
$gray: #a0a1a5;
$medium-gray: #555;
$dark-gray: #232323;
$brown: #453926;
$gradient: linear-gradient( to bottom, $dark-gray, $brown); 

@function bc($num) {
	@return $num - 2px;
}

/* body
======================================================================================================================*/
html, body {
    font-size:16px;
    margin: 0px;
}

html, body, p, div, button {
    font-family:$font;
}

/* container
======================================================================================================================*/
#container {
    position: absolute;
    display: block;
    width: $expanded-width;
    height: $expanded-height;
}

#ad {

    // animate height here, not opacity

    position: relative;
    display: block;
    left: 0;
    border:  $border-color 1px solid;
    overflow: hidden;
    user-select: none;

    // animation
    transition-property: height;
    transition-duration: $dur;

    &.collapsed {
	    width: bc($collapsed-width);

        //animation
    	height: bc($collapsed-height);
        transition-timing-function: ease-in;
    }

    &.expanded {
    	width: bc($expanded-width);

        //animation
    	height: bc($expanded-height);
        transition-timing-function: ease-out;
    }
}

/* Panels, expand animation
======================================================================================================================*/

// animate opacity here, not height

#banner, #panel {
    display:block;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
    background-color:$white;

    // animation
    transition-property: visibility, opacity;
    transition-duration: $dur * 2;

}

#banner {
    width: bc($collapsed-width);
    height: bc($collapsed-height);
    z-index:1;

    //animation
    transiton-timing-function: ease-out;

}

#panel {
    width: bc($expanded-width);
    height:bc($expanded-height);
    z-index:0;

    // animation
    opacity:0;
    visibility:hidden;
    pointer-events:none;
    transition-timing-function: ease-in;

}

.expanded {

    #banner {
        z-index:0;

        //animation
        visibility:hidden;
        opacity:0;
        pointer-events:none;
        transition-timing-function: ease-in;
    }

    #panel {
        z-index:1;
        // animation
        opacity:1;
        visibility:visible;
        pointer-events:auto;
        transition-timing-function: ease-out;
    }
}

/* header layout
======================================================================================================================*/

.header {
    float:left;
    width:100%;
    height:auto;
}

.tile, .logo-container {
    float:left;
}

.tile {
    width:574px;
    padding:14px 18px;
    height:60px;
    background:$gradient;
}

.logo-container {
    width:96px;
    padding:19.25px $padding;
    perspective: 100px;
    perspective-origin: center;
    button {
        float:left;
        width:100%;
        height:49.5px;
        transition:transform $dur ease;
        &:hover {
            transform:translateZ(5px);
        }
    }

    img {
        width:100%;
        height:100%;
    }
}

/* tile images
======================================================================================================================*/
@keyframes swap {
    0%, 100% {
        opacity:1;
    }
    40%, 60% {
        opacity:0;
    }
}

.tile-image {
    position:absolute;
    top:0;
    left:0;
    width:610px;
    height:bc($collapsed-height);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.tile-image-one {
    background-image:$header-tile;
    z-index:2;
}

#banner {
    .tile-image-one {
        animation-name:swap;
        animation-duration: 3s;
        animation-iteration-count: 4;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }

    .tile-image-two {
        opacity:1;
        background-image:$header-tile-alt;
        z-index:1;
    }
}
/*  header content
======================================================================================================================*/

.header-text {
    position:relative;
    display:block;
    float:right;
    margin:0;
    text-align:center;
    color:$white;
    font-weight:bold;
    line-height:1.3;
    z-index:3;
    span {
        line-height:2;
        font-size:10px;
        font-weight:light;
        text-transform: uppercase;
    }
}

/* content
======================================================================================================================*/
.main-content {
    float:left;
    width:bc($expanded-width);
    height:270px;
}
.side-nav, .slide-area {
    float:left;
    margin-top:4px;
    height:266px;
}

.side-nav {
    position:relative;
    width:112px;
    margin-left:4px;
}

.slide-area {
    position:relative;
    width:610px;
}

/* side-nav
======================================================================================================================*/
.swatch {
    position:absolute;
    top:0;
    left:0;
    width: calc( 100% - 20px );
    height:116px;
    padding:10px;
    text-align:left;
    font-size:12px;
    color:$white;
    background-size:cover;
    background-position:center;
    background-repeat: none;
}

.swatch-container {
    height: 136px;
    background:$gradient;
}

.explore-link {
    float:left;
}

.explore-text {
    width:100%;
    height:auto;
    display:block;
    float:left;
    color:$medium-gray;
    font-weight:bold;
    margin-top:0;
    font-size:16px;
    text-align:left;
    padding-top:8px;
    span {
        font-weight:normal;
    }
}

/* buttons
======================================================================================================================*/

.play {

    visibility:hidden;
    opacity:0;
    pointer-events:none;

    position:absolute;
    top:10px;
    left:10px;
    z-index:2;
    width:24px;
    height:24px;

    transition-duration:$dur;
    transition-property: visiblity, opacity, transform;
    transition-timing-function: ease-in;

    perspective: 100px;
    perspective-origin: center;

    &.show {
        visibility:visible;
        opacity:1;
        pointer-events:auto;
    }
    
    &:hover {
        transfrom:translateZ(10px);
       .play-circle {
            stroke:$gray;
       } 
       .play-square {
            fill:$gray;
       }
    }
}

.play-svg {
    float:left;
    width:100%;
    height:100%;
}

.play-circle {
    fill:none;
    stroke:$white;
    stroke-width:18;
    stroke-miterlimit:10;
    transition-duration:$dur;
    transition-property:stroke;
    transition-timing-function: ease-in;
}

.play-square {
    fill:$white;
    transition-duration:$dur;
    transition-property:fill;
    transition-timing-function: ease-in;
}

button {
    background:trasparent;
    background-color:transparent;
    outline:none;
    padding:0;
    border:0;
    margin:0;
    cursor:pointer;
}

.close {
    width:18px;
    height:22px;
    padding:4px;
    position:absolute;
    bottom:0;
    right:0;
    transition:zoom $dur ease;

    > svg {
        width:100%;
        height:100%;
        float:left;
    }

    &:hover {
        zoom:1.1;
    }
}
/* slide-images
======================================================================================================================*/

.slide-image-container {
    float:left;
    width:100%;
    height:100%;
    // background-color:$dark-gray;
    background:$gradient;
}

.slide-image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* slide-controls 
======================================================================================================================*/

.slide-controls {
    position:absolute;
    bottom:10px;
    left:0;
    width:100%;

    button, div {
        float:left;
    }

    .slide-nav {
        float: none;
        margin: 0 auto;
        width: 106px;
        height: 18px;
    }
    
    .arrow-svg {
        width:12px;
        height:13px;
        fill:$white;
        transition:fill $dur ease;
    }

    .arrow-button:hover {
        .arrow-svg {
            fill:$gray;
        }
    }

    .dots {
        margin:0 8px;
    }

    .dot {
        border-radius:100%;
        background:$white;
        width:6px;
        height:6px;
        margin:4px 4px;
        transition:background $dur ease;
        cursor: pointer;

        &.active, &:hover {
            background:$gray;
        }

    }
}

/* swatches and images
======================================================================================================================*/
$colors-list: 'havana-gold', 'island-mist', 'spiced-rum';

@mixin getImage($type) {
    @each $current-color in $colors-list {
        &.#{$current-color} { 
            background-image:url('../images/#{$type}/#{$type}-#{$current-color}.jpg');
        }
    }
}

.slide-image {
    @include getImage('bg');
}

.swatch {
    @include getImage('swatch');
}

.swatch, .slide-image {
    opacity:0;
    visibility:hidden;
    pointer-events:none;
    transition-duration: $dur*3;
    transition-timing-function: ease-in;
    transition-property: opacity, visbility;
}

@each $current-color in $colors-list {
    .show-#{$current-color} {
        .#{$current-color} {
            opacity:1;
            visibility:visible;
            transition-timing-function: ease-in;
        }
    }
}