body {
    margin: 0;
}
#ad {
    position: relative;
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    width: 968px;
    height: 88px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: black;
}

/* Custom */