/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:300px;
$height:600px;
$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);


/* large blocks
----------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: 'Helvetica', sans-serif;
    color:white;
    text-align:center;
    margin: 0px;
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    background-image:url('../images/bg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;
}

#top {
    float:left;
    position:relative;
    margin-top:115px;
    height:240px;
    width:100%;
}

#bottom {
    float:left;
    position:relative;
    height:245px;
    width:100%;
}

.layer {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    transition:opacity 500ms ease;

    &-one {
        z-index:3;
        opacity:1;
    }
    &-two {
        z-index:2;
    }
    &-three {
        z-index:1;
    }

    > img {
        position:absolute;
        top:50%;
        left:50%;
        width:95%;
        height:auto;
        transform:translate3d(-50%,-50%,0);
    }
}

.speedometer, .shadow  {
    position:absolute;
    top:50%;
    left:50%;
    width:90%;
    padding-bottom:56.43%;
    background-image:url('../images/guage.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    transform:translate3d(-50%,-50%,0);
    z-index:1;
}

.guage-svg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    > path {
        fill:white;
        // transition:fill 100ms ease;
        // //nth-childs
        // &:nth-child(1) {
        //     transition-delay:300ms;
        // }
        // &:nth-child(2) {
        //     transition-delay:400ms;
        // }
        // &:nth-child(3) {
        //     transition-delay:500ms;
        // }
        // &:nth-child(4) {
        //     transition-delay:600ms;
        // }
        // &:nth-child(5) {
        //     transition-delay:700ms;
        // }
        // &:nth-child(6) {
        //     transition-delay:800ms;
        // }
        // &:nth-child(7) {
        //     transition-delay:823ms;
        // }
        // &:nth-child(8) {
        //     transition-delay:846ms;
        // }
        // &:nth-child(9) {
        //     transition-delay:869ms;
        // }
        // &:nth-child(10) {
        //     transition-delay:892ms;
        // }
        // &:nth-child(11) {
        //     transition-delay:915ms;
        // }
        // &:nth-child(12) {
        //     transition-delay:930ms;
        // }
        // &:nth-child(13) {
        //     transition-delay:960ms;
        // }
        // &:nth-child(14) {
        //     transition-delay:1015ms;
        // }
        // &:nth-child(15) {
        //     transition-delay:1045ms;
        // }
        // &:nth-child(16) {
        //     transition-delay:1075ms;
        // }
        // &:nth-child(17) {
        //     transition-delay:1105ms;
        // }
        // &:nth-child(18) {
        //     transition-delay:1135ms;
        // }
        // &:nth-child(19) {
        //     transition-delay:1165ms;
        // }
        // &:nth-child(20) {
        //     transition-delay:1200ms;
        // }
        // &:nth-child(21) {
        //     transition-delay:1266ms;
        // }
        // &:nth-child(22) {
        //     transition-delay:1296ms;
        // }
        // &:nth-child(23) {
        //     transition-delay:1332ms;
        // }
        // &:nth-child(24) {
        //     transition-delay:1398ms;
        // }
        // &:nth-child(25) {
        //     transition-delay:1466ms;
        // }
        // &:nth-child(26) {
        //     transition-delay:1532ms;
        // }
        // &:nth-child(27) {
        //     transition-delay:1600ms;
        // }
    }

    // &.run-guage {
    //     > path {
    //         fill:red;
    //     }
    // }
}

.shadow {
    border-radius:12%;
    box-shadow:0 6px 10px rgba(0,0,0,0.7);
    z-index:0;
}

.speedometer {
    perspective:100px;
    perspective-origin: center;
}

.needle {
    position:absolute;
    top: 23%;
    left: 43%;
    width: 8%;
    height: 55.5%;
    transform-origin: center 83px;
    transform:rotateZ(-90deg);
    transform-origin: center 83px;
}

// .run-speed {
//     animation-name:speed;
//     animation-timing-function: $easeInOutCubic;
//     animation-duration: 2s;
//     animation-direction: forwards;
//     animation-fill-mode: forwards;
//     animation-iteration-count: 1;
// }

// @keyframes speed {
//     100% {
//         transform:rotate3d(0,0,1,90deg);
//     }
// }

.logos {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
}


.logo {
    display:block;
    border:0;
    outline:none;
    height:auto;
    float:none;
    margin:10px auto;
    perspective:100px;
    perspective-origin: center;
    transform-origin: center;
    transition:transform 200ms ease-in;
    &:hover {
        transform:scale(1.05);
        transition-timing-function: ease-out;
    }
}

.ky-logo {
    width:175px;
    height:82px;
}

.gambler-logo {
    width:75px;
    height:61px;
}
