/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:728px;
$height:90px;

$tan: Beige;
$red: #ef3c35;
$white: white;

$logo-ratio: 0.3844049248;

$font: 'Rubik Mono One', Verdana, Geneva, sans-serif;
$altfont: Arial, "Helvetica Neue", Helvetica, sans-serif;

$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);

@mixin layerWidth() {
    padding:5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

@mixin fontStyle($size: 14px) {
    font-family: $font;
    font-style: bold;
    font-weight: 400;
    color: $red;
    font-size: #{$size};
    text-transform: uppercase;
}

@mixin buttonStyle() {
    font: $altfont;
    font-size: 12px;
    line-height:0.9;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

@mixin bigFont() {
    font-size:100px;
    line-height:0.9;
    letter-spacing:-10px;
    transform:translateX(-5px)
}

/* large blocks
----------------------------------------------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:center;
    margin: 0px;
    @include fontStyle();
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    // background-image:url('../images/bg.png');
    background-color: $tan;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;
}

.layer {

    position:absolute;
    left:0;
    @include layerWidth();
    transition:opacity 500ms ease;

    perspective:100px;
    perspective-origin: center;

    display:flex;
}

.top {
    position:relative;
    height:100%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom {

    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;;
    align-items: start;
    align-content: space-between;

    width: 157px;
    height: 100%;

    perspective: 1000px;
    perspective-origin: center;

    > .button {
        transform-origin: center;
        transform: scale(1);
        transition: transform 200ms ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }

    }

    .ky-logo {
        width:110px;
        height:auto;
    }

    .gamblers {
        image-rendering: -webkit-optimize-contrast;
        position:absolute;
        right:0;
        bottom:0;
        width:45px;
        height:auto;
    }

    // img {
    //     height:90%;
    //     &.gamblers {
    //         height: 60%;
    //     }
    // }

}

.hero {
    display:flex;
    height:100%;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 136px;
}

.subtitle {
    font-size:18px;
    width:180px;
    text-align:left;
    align-self:center;
    padding-left:10px;
}

.drawings {
    font-size: 10px;
}

.header {
    @include bigFont();
}

.logo {
    width: 100px;
    height: 100px * #{$logo-ratio};
    transform:translateX(-8px);
}

.button {
    padding: 4px 16px;
    background:$red;
    border: 1px solid $white;
    border-radius: 4px;
    color: $white;
    @include buttonStyle();
}

.content {

    position: relative;
    display: flex;

    flex-display: columns;
    justify-content: flex-start;
    align-items: flex-start;

    width: 425px;

    > div {
        transition: opacity 1s ease;
    }

    .header {
        opacity:1;
    }

    .total {
        position:absolute;
        top:0;
        left:50%;
        transform: translateX(-53%);
        width:100%;
        height:100%;
        opacity:0;
    }

    &.switched {

        .header, .subtitle {
            opacity:0;
        }

        .total {
            opacity:1;
        }

    }

}

.number {
    @include bigFont();
    &:before {
        position:relative;
        content: '$';
        font-size:32px;
        bottom: 45px;
    }
}

.dollar {
    font-size:24px;
}


.animals {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > div {

        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height:100%;
        justify-content: space-between;
        align-items: flex-end;
        transition: opacity 1s ease;

        &.elephant {
            justify-content: flex-end;
        }

        &.giraffe {
            opacity:0;
        }

    }

    &.switched {
        > div.elephant {
            opacity: 0;
        }
        > div.giraffe {
            opacity: 1;
        }
    }

    img {
        height:75px;
    }

}
