/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:300px;
$height:600px;
$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);


/* large blocks
----------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: 'Helvetica', sans-serif;
    color:white;
    text-align:center;
    margin: 0px;
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    color:black;
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    background-image:url('../images/jackpottriggers-megamillions-300x600-bg.svg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;
}

#top {
    float:left;
    position:relative;
    height:$height;
    width:100%;
}

// #bottom {
//     float:left;
//     position:relative;
//     width:100%;
//     padding-bottom:24px;
//     padding-top:24px;
//     height:calc(154px-48px); /* auto works, specify for clarity */
// }

.layer {
    position:absolute;
    left:0;
    height:calc(100% - 48px);
    width:100%;
    opacity:0;
    transition:opacity 500ms ease;
    padding-top:24px;
    padding-bottom:24px;

    &-one {
        z-index:3;
        opacity:1;
    }
    &-two {
        z-index:2;
    }
    &-three {
        z-index:1;
    }
}

.geta {
    position:absolute;
    top:29%;
    left:15%;
    width:60%;
    z-index:2;
}

.bang {
    position:absolute;
    top:25%;
    left:-15%;
    width:120%;
    z-index:1;
}

.foryour {
    position:absolute;
    top:58%;
    left:2.5%;
    width:95%;
    z-index:2;
}

.logos {
    position:absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 24px;
    padding-top: 24px;
}


.logo {
    display:inline-block;
    border:0;
    outline:none;
    height:auto;
    float:none;
    margin:10px auto;
    perspective:100px;
    perspective-origin: center;
    transform-origin: center;
    transition:transform 200ms ease-in;
    &:hover {
        transform:scale(1.05);
        transition-timing-function: ease-out;
    }
}

.ky-logo {
    width:175px; /* 0.4685714286 */
    height:82px;
    margin-right:10px;
}

.gambler-logo {
    width:75px;
    height:61px;
    margin-bottom:20px;
}
