/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:320px;
$height:50px;

$tan: Beige;
$white: white;

$pb-red: #e12726;
$pb-blue: #0645a2;

$mm-blue: #004fa3;
$mm-red: #ef3e33;

$red: $mm-red;
$blue: $mm-blue;

$button-bg: $red;

$pb-ratio: 0.3132587859;
$mm-ratio: 0.4743589744;

$logo-ratio: $pb-ratio;

$font: 'Teko', Verdana, Geneva, sans-serif;
$altfont: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;

$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);

@mixin layerWidth() {
    padding:2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}

@mixin fontStyle($size: 14px) {
    font-family: $font;
    font-style: bold;
    font-weight: 400;
    color: $red;
    font-size: #{$size};
    text-transform: uppercase;
}

@mixin buttonStyle() {
    font: $altfont;
    font-size: 12px;
    line-height:0.9;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

@mixin bigFont() {
    font-size: 118px;
    line-height: 0.9;
}

/* large blocks
----------------------------------------------------------------------------------------------------------------------*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:center;
    margin: 0px;
    @include fontStyle();
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    background-color: $tan;
    background-image:url('../images/background.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;

    display:flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:2px;
    padding-right:2px;

    .logo {
        width: 90px;
        height: calc( 90px * #{$logo-ratio});
    }

}

.content {
    position:relative;
    height:calc(100% - 2px);
    padding:1px;
    width: 135px;

    > div,img {
        transition: opacity 1s ease;
    }

    &.switched {

        .header {
            opacity:0;
        }
        .isbig {
            opacity:0;
        }
        .total {
            opacity:1;
        }

    }
    .total {
        opacity:0;
    }
    .isbig {
        height:100%;
        width:auto;
    }
}

.total {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.number {

    transform:translateX(-5px);
    font-size: 50px;
    line-height: 46px;
    height: 34px;
    display: block;

    &:before {
        content: '';
        width: 10px;
        height: 10px;
        background-image: url('../images/dollar.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        display: inline-block;
        position: relative;
        bottom: 22px;
    }
}

.denomination {
    width:100%;
    > img {
        width:30%;
    }
}

.bottom {
    perspective:1000px;
    perspective-origin:center;
    padding-right:2px;
}

.responsibly {

    color:$red;
    text-transform: none;
    font-size:8px;
    font-weight:700;
    font-style:normal;

}

.button {
    background:$button-bg;
    border: 1px solid $white;
    border-radius: 8px;
    color: $white;
    padding: 6px 4px;
    font-size:8px;
    font-style: normal;
    font-weight:700;
    cursor:pointer;
    transform:scale(1);
    transition: transform 200ms ease;
    &:hover {
        transform: scale(1.05);
    }
}

// .content {

//     position: relative;
//     display: flex;

//     flex-display: columns;
//     justify-content: flex-start;
//     align-items: flex-start;

//     width: 425px;

//     > div {
//         transition: opacity 1s ease;
//     }

//     .header {
//         opacity:1;
//     }

//     .total {
//         position:absolute;
//         top:0;
//         left:50%;
//         transform: translateX(-53%);
//         width:100%;
//         height:100%;
//         opacity:0;
//     }


// }

// .number {
//     position: relative;
//     display: block;
//     @include bigFont();
//     &:before {
//         content: '';
//         width: 40px;
//         height: 40px;
//         background-image: url('../images/dollar.svg');
//         background-repeat: no-repeat;
//         background-size: auto 100%;
//         display: inline-block;
//         position: relative;
//         bottom: 40px;
//     }
//     &:after {
//         content: '';
//         display: block;
//         position: absolute;
//         width: 127px;
//         height: 34px;
//         right: 0;
//         bottom: 50px;
//         background-image: url('../images/million.svg');
//         background-repeat: no-repeat;
//         background-size: auto 100%;
//     }
// }
// .number-total {
//     text-align: left;
//     padding-left: 80px;
// }

// .dollar {
//     font-size:24px;
// }


.animals {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > div {

        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height:100%;
        justify-content: space-between;
        align-items: flex-end;
        transition: opacity 1s ease;

        &.elephant {
            justify-content: space-between;
            img {
                height:60%;
            }
        }

        &.giraffe {
            opacity: 0;
            img {
                height:75%;
            }
        }

    }

    &.switched {
        > div.elephant {
            opacity: 0;
        }
        > div.giraffe {
            opacity: 1;
        }
    }

}
