body {
    margin: 0;
}
#ad {
    position: relative;
    display: block;
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    width: 298px;
    height: 248px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/* Custom */

img {
    position: absolute;
}

#van {
    left: 100%;
    bottom: -75px;
    height: 250px;
    transition: transform 3s ease-in-out;
    z-index: 1;

    &.drive1 {
        transform: translateX(-100%);
    }
    &.drive2 {
        transform: translateX(-200%);
    }
}

#fixed {
    opacity: 0;
    transition: opacity 0.3s ease-in;

    &.fade-in {
        opacity: 1;
    }
}

#final {
    opacity: 0;
    transition: opacity 1s ease-in;
    z-index:2;

    &.fade-in {
        opacity: 1;
    }
}