/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:160px;
$height:600px;
$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);
$easeinquart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeinback: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeinoutquart:cubic-bezier(0.77, 0, 0.175, 1);
$easeincubic:cubic-bezier(0.55, 0.055, 0.675, 0.19);
/* large blocks
----------------------------------------------------------------------------------------------------------------------*/
body {
    font-family: 'Helvetica', sans-serif;
    color:white;
    text-align:center;
    margin: 0px;
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;
    perspective:800px;
    perspective-origin: center;
}

#top {
    float:left;
    position:relative;
    height:100%;
    width:100%;
    z-index:3;
}

.button {
    position:absolute;
    top:355px;
    left:50%;
    width:137px;
    height:31px;
    transform:translateX(-50%);
    outline:none;
    background-color:transparent;
    margin:0;
    padding:0;
    border:0;
    perspective: 800px;
    perspective-origin: center;
    cursor:pointer;
    > img {
        display:block;
        float:left;
        width:100%;
        height:100%;
        transition:transform 200ms ease-in;
    }
    &:hover {
        > img {
            transform:translateZ(25px);
            transition-timing-function: ease-out;
        }
    }
}

// #bottom {
//     float:left;
//     position:relative;
//     height:60px;
//     width:100%;
// }

.layer {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    transition:opacity 300ms ease;

    background-size:contain;
    background-position:center center;
    background-repeat: no-repeat;

    &-one {
        z-index:1;
        opacity:1;
        background-image:url('../images/layer1.png');
        // background-color:red;
    }
    &-two {
        z-index:2;
        background-image:url('../images/layer2.png');
        // background-color:orange;
    }
    &-three {
        z-index:3;
        background-image:url('../images/layer3.png');
        // background-color:yellow;
    }
    &-four {
        z-index:4;
        background-image:url('../images/layer4.png');
        background-position:center 205px;
        // background-color:green;
    }

    > img {
        position:absolute;
        top:50%;
        left:50%;
        width:95%;
        height:auto;
        transform:translate3d(-50%,-50%,0);
    }
}

.back {
    overflow: auto;
    position:absolute;
    top:0;
    left:0;
    width:533px;
    height:2000px;
    z-index:1;
    background-image:url('../images/fantasy-160x600-golf-course.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    transform-origin: center;
    -webkit-backface-visibility: hidden;
    transform:translateZ(-1500px) translateX(-196px) translateY(-700px);
    transition:transform 5s #{$easeincubic} 2s; // check longest timeout in js
    &.grow {
        transform:translateZ(0) translateX(-200px) translateY(-700px);
    }

}

// @keyframes unblurIt {
//     100% {
//         filter:blur(0);
//     }
// }

.blur {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    // filter:blur(2px);
    perspective:800px;
    perspective-origin: center;
    // &.unblur {
    //     animation-name: unblurIt;
    //     animation-duration: 8s;
    //     animation-delay:1s;
    //     animation-iteration-count: 1;
    //     animation-fill-mode: forwards;
    //     animation-timing-function: linear;
    // }
}

@keyframes ballZ {
    0% {
        opacity:0;
    }
    5% {
        opacity:1;
    }
    35% {
        transform:translateZ(-35000px);
    }
    50% {
        transform:translateZ(-40000px);
        opacity:1;
    }
    75% {
        transform:translateZ(-50000px);
    }
    100% {
        opacity:0.5;
        transform:translateZ(-50000px);
    }
}

@keyframes ballY {
    0% {

    }
    50% {
    }
    100% {
        transform:translateY(250px);
    }
}

@keyframes ballX {
    0% {
        transform:translateX(160px);
    }
    2% {
        transform:translateX(160px);
    }
    100% {
        transform:translateX(80px);
    }
}

@keyframes ballRotate {
    100% {
        transform:rotateZ(-2000deg);
    }
}

.ball {

    pointer-events:none;
    position:absolute;
    width:300px;
    height:300px;
    right:0;
    bottom:50%;
    z-index:2;

    .ball-x,
    .ball-y,
    .ball-z,
    .actual-ball {
        float:left;
        width:100%;
        height:100%;
    }

    &.animate {
        .ball-x {
            animation-name: ballX;
            animation-duration: 7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
            perspective-origin: center;
            perspective:800px;
        }

        .ball-y {
            animation-name: ballY;
            animation-duration: 7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: #{$easeincubic};
            perspective-origin: center;
            perspective:800px;
        }

        .ball-z {
            animation-name: ballZ;
            animation-duration: 7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: #{$easeincubic};
        }

        .ball-rotate {
            animation-name: ballRotate;
            animation-duration: 7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }

        .actual-ball {
            background-image:url('../images/golf-ball.png');
            background-size:100% 100%;
            background-position:center;
            background-repeat:no-repeat;
        }
    }

}
