/* variables
----------------------------------------------------------------------------------------------------------------------*/
$width:300px;
$height:250px;

$tan: Beige;
$red: #ef3c35;
$white: white;

$logo-ratio: 0.3844049248;

$font: 'Rubik Mono One', Verdana, Geneva, sans-serif;
$altfont: Arial, "Helvetica Neue", Helvetica, sans-serif;

$easeoutback: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeinoutexpo: cubic-bezier(1,0,0,1);

@mixin layerWidth() {
    padding-left:10px;
    padding-right:10px;
    width: calc(100% - 20px);
}

@mixin fontStyle($size: 14px) {
    font-family: $font;
    font-style: bold;
    font-weight: 400;
    color: $red;
    font-size: #{$size};
    text-transform: uppercase;
}

@mixin buttonStyle() {
    font: $altfont;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

@mixin bigFont() {
    font-size:120px;
    line-height:0.9;
    letter-spacing:-10px;
    transform:translateX(-5px)
}

/* large blocks
----------------------------------------------------------------------------------------------------------------------*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:center;
    margin: 0px;
    @include fontStyle();
}

#border {
    pointer-events:none;
    position:absolute;
    width:calc(#{$width} - 2px);
    height:calc(#{$height} - 2px);
    border:1px solid black;
    z-index:1;
}

#ad {
    position:relative;
    display: block;
    overflow: hidden;
    width: $width;
    height: $height;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
    // background-image:url('../images/bg.png');
    background-color: $tan;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:0;
}

#banner {
    position: absolute;
    display: block;
    width: $width;
    height: $height;
    overflow: hidden;
}

.layer {

    position:absolute;
    left:0;
    height:$height;
    width:100%;
    transition:opacity 500ms ease;
    pointer-events:none;

    perspective:100px;
    perspective-origin: center;

}

.top {
    position:relative;
    @include layerWidth();
    padding-top: 5px;
    height: 190px;
}

.bottom {
    position:relative;
    @include layerWidth();
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1;
    img {
        height:90%;
        &.gamblers {
            height: 60%;
        }
    }

}

.header {
    @include bigFont();
}

.logo {
    width: 60%;
    height: 60% * #{$logo-ratio};
}

.button {
    padding: 4px 16px;
    background:$red;
    border: 1px solid $white;
    border-radius: 4px;
    color: $white;
    @include buttonStyle();
}

.content {

    position:relative;

    > div {
        transition: opacity 1s ease;
    }

    .header {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:1;
    }

    .total {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0;
    }

    &.switched {

        .header {
            opacity:0;
        }

        .total {
            opacity:1;
        }

    }

}

.number {
    @include bigFont();
    font-size:110px;
}

.denomination {
    font-family: $altfont;
    font-size:24px;
    transform:translateY(-10px);
    text-transform: lowercase;
    font-style:bold;
    font-weight:900;
}

.dollar {
    display:block;
    position:absolute;
    top:0;
    left:0;
    font-size:24px;
}

.animals {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    transform: translateY(18px);

    > div {

        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: space-around;
        transition: opacity 1s ease;

        &.elephant {
            height:33%;
        }

        &.giraffe {
            opacity:0;
            height:50%;
        }

    }

    &.switched {
        > div.elephant {
            opacity: 0;
        }
        > div.giraffe {
            opacity: 1;
        }
    }

    img {
        height: 100%;
        width: auto;
    }

}
